* {
  margin: auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  line-height: 0.8;
  padding: 50px;

}

h1 {
  color: #F7CB15;
  font-size: 3.998em;
  padding: 50px;

}

h2 {
  color: #F7CB15;
  font-size: 2.827em;
  padding: 50px;

}

h3 {
  font-size: 1.999em;
  padding: 50px;

}

body {
  color: #FFFFFF;
  background-color: #F55D3E;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
}

div {
  text-align: justify;
}

p {
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;
}

.page {
  width: 1000px;
  margin: 0 auto;
}

strong {
  background-color: #F7CB15;
}

.caption {
  color: #FFFFFF;
  font-size: 12px;
}

.image{
  padding: 30px;
}

}
<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

button{
 background-color: #F7CB15; /* yellow */
 border: none;
 color: #F7CB15; /*white*/
 padding: 50px 32px;
 text-align: center;
 text-decoration: none;
 display: center;
 font-size: 16px;
 border-radius: 8px;
}

br {
  color: #FFFFFF;
}

header {
  padding: 30px;
  text-align: center;
}

footer {
  background-color: #878E88;
  padding: 10px;
  text-align: center;
  color: white;
